#toppages {
  .bg-secondary {
    background-image: url(/images/topcover2.jpg);
    background-size: cover;
    height: 500px;
  }
  .jumbotron {
  background: url(/images/topcover3.jpg);
  background-size: cover;
  
  height: 300px;
  background-position: center 60%;
}

.row{
  margin-top: 10px;
}
}